doctype html 
html 
    head 
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title Pug tutorial 
    body 
        .container 
            .row.justify-content-center 
                .col-md-6 
                    .card-body 
                        block content 
    footer.row.justify-content-center 
        .col-md-6 
            block footer 
                .col-md-12 © All rights reserved